.imageblock img[src$='mark_g.svg'],
.imageblock img[src$='mark_b.svg'],
.image img[src$='mark_g.svg'],
.image img[src$='mark_b.svg'] { width: 18px; vertical-align:middle; }

#search-input {
	border: 1px solid var(--color-white);
	border-radius: 5px;
	height: 34px;
}